/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.login-form {
  max-width: 100%;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  background-color: #fff;
  width: 86%;
  /* height: 100%; */
  position: absolute;
  bottom: 24px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
}

input[type="email"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #522080;
  color: #fff;
  cursor: pointer;
  padding: 14px;
}

button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 600px) {
  .login-form {
    max-width: 100%;
    max-height: 90%;
  }
}
